process {
    withName:downloadFASTQs {
        container = 'download_fastqs:latest'
    }
    withName:downloadMappingFile {
        container = 'download_fastqs:latest'
    }
    withName:denoiseWithDeblur {
        container = 'biomehub/deblur'
        cpus = 4
        memory = 5.GB
    }
    withName:clusteringWithVsearch {
        container = 'neocontainers/vsearch:v1.0'
    }
}

docker {
    enabled = true
}